#wrapper{
    width: 80%;
}

h1{
    text-align: center;
}

#gamearea{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: solid 1px;
}

.cell{
    width: 20px;
    height: 20px;
}

.player{
    background-color: blue;
}

.alien{
    background-color: purple;
    border-radius: 10px;
}

.boom{
    background-color: red;
}

.laser{
    background-color: yellow;
}

.dead{

}