h1{
    text-align: center;
}

#gamearea{
    width: 800px;
    height: 600px;
    margin: auto;
    background: url('images/background-dark-purple.png');
    animation: starsMove 2s linear infinite;
}

@keyframes starsMove {
    from  { background-position-y: 0px; }
    to    { background-position-y: 256px; }
  }

.player{
    max-width: 80px;
    margin-left: -40px;            /* Lets me manipulate the ship from the center */
    position: absolute;
}

.laser{
    position: absolute;
}

#details{
    text-align: center;
}